html,
body {
  font-family: Roboto, "sans-serif";
  min-height: 100%;
  height: 100%;
  background: #f0f0f0;
  color: #1d354e;
  font-size: 12px;
}
.mTop-10 {
  margin-top: 10px;
}
.mBot-10 {
  margin-bottom: 10px;
}
.card.flat {
  border-radius: 0;
}
